{
    "env": {
        "browser": true,
        "es2021": true
    },
    "parser": "@typescript-eslint/parser",
    "extends": "airbnb",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "quotes": [0, "single"],
        "indent": ["error", "tab"],
		"no-tabs": 0,
        "react/prop-types": 0,
        "react/jsx-indent": ["error", "tab"],
        "react/jsx-indent-props": ["error", "tab"],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
        "react/require-default-props": "off",
        "linebreak-style": ["error", "windows"],
        "func-names": ["error", "as-needed"],
        "no-console": "off",
        "no-underscore-dangle": ["error", { "allow": ["_id"] }],
        "no-param-reassign": "off",
        "global-require": "off",
        "consistent-return": "off",
        "import/prefer-default-export": "off",
        "import/no-dynamic-require": "off",
        "import/no-extraneous-dependencies": ["error", {"devDependencies": true}] ,
        "import/extensions": [
            "error",
            "ignorePackages",
            {
              "js": "never",
              "jsx": "never",
              "ts": "never",
              "tsx": "never"
            }
         ]
    },
    "settings": {
        "react": {
            "version": "detect"
        },
        "import/resolver": {
            "node": {
               "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
         }
    }
}
